@media screen and (min-width:576px) {
}
@media screen and (min-width:768px) {

}
@media screen and (min-width:992px) {

}
@media screen and (min-width:1200px) {
    .main-meal .recipe-img .stats p {
  font-size: 0.875rem;
  line-height: 1.25rem;
    }
    .main-meal .recipe-img .stats span {
  font-size:1rem;
  line-height: 1.5rem;
    }
    .main-meal .content {
  height: 46.875rem;
  overflow-y: auto;

}
.main-meal .recipe-img{
  height: 100%;
}
.main-meal .recipe-img .stats i.fa-fire-burner,
.main-meal .recipe-img .stats i.fa-clock,
.main-meal .recipe-img .stats i.fa-users {
  font-size: 1.4rem;
}
.main-meal .content {
  padding: 2.5rem !important;
}

.main-meal .content .head h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.main-meal .content p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.main-meal .content .nav .nav-link {
  font-size: 1rem;
  line-height: 1.5rem;
}
.main-meal .content .btn-toggel button {

  font-size: 1rem;
  line-height:24px ;

}

}
@media screen and (min-width:1400px) {
   
}